<div class="main-new">
    <h2>ユーザー情報の編集</h2>
    <%= form_tag("/users/#{@user.id}/update",{multipart: true}) do %>
        <div class="form2">
            <div class="user-name">
                <p>ユーザー名</p>
                <input  name="name" type="text" >
            </div>
            <div class="image">
                <p>画像</p>
                <input name="image" type="file">
                
            </div>
        </div>
        <div class="btn new">
            <input type="submit" value="変更を保存">
        </div>
        
   <% end %>
</div>