<div class="search-wrapper">
            <div class="container">
                <h1 class="title-logo">あなたのキャンパスライフを彩るUni<span>.</span></h1>
                <i class="fas fa-search"></i>>
                <input class="search-form">
            </div>
        </div>
        
        <div class="contents-wrapper">
            <div class="container">
                <div class="service-set">
                    <h2 class="message-title">本サービスについて</h2>
                    <p>Uni.は大学の授業評価サイトです。大学生活でもっとも大変な履修登録を先輩たちの評価をもとに賢く選択できます。このサービスを活用してより豊かなキャンパスライフを送ってください。<br><br>*当サービスは各大学とは一切関係はありません。</p>
                </div>
                <div class="service-set">
                    <h2>service.1</h2>
                    <p>自分の取りたい授業、気になる授業のレビューを見ることができます。</p>
                </div>
                <div class="service-set">
                    <h2>service.2</h2>
                    <p>自分の履修した授業を評価することができます。</p>
                </div>
                <div class="service-set">
                    <h2>service.3</h2>
                    <p>未定</p>
                </div>
            </div>
        </div>

<div class="message-wrapper">
            <h2>さぁ、あなたも<span class="uni"> Uni</span><span class="uni2">.</span>でより豊かなキャンパスライフを！</h2>
            <h3> Lets,click!</h3>
            <a class="btn create">レビューを見る</a>
        </div>