<body>
    
    <div class="main-contents">
        <div class="add_lesson">
            <%= link_to("授業を追加","/lessons/new") %>
        </div>
        <% @lessons.each do |lesson| %>
        
            <div class="thred">
                <div class="room">
                    <%=  link_to(lesson.lesson_name,"/lessons/#{lesson.id}") %>
                    
                </div>
            </div>
        <% end %>

        
        
    </div>
</body>