<div class="main-new">
    <h2>Review</h2>
        <%= form_tag("/posts/#{@post.id}/update") do %>
            <div class="review-form">
                <textarea name="content">
                    <%= @post.content %>
                </textarea>
                <div class="btn">
                    <input type="submit" value="保存">
                </div>
            </div>
        <% end %>
</div>